@tailwind base;
@tailwind components;
@tailwind utilities;




.oval {
   width: 115%;
   height: 100%;
   left: -4.5rem;
   top: -1rem; 
   border-radius: 50%;
}


@media screen and (min-width:768px) {
    .oval {
        left: -9rem;
        top: -2rem; 
    }
}

.product-card {
    font-family: "Ubuntu";
}
